@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">    
    <table class="table">
        <thead>
            <tr>
                @if (Model.previousPath == "")
                {
                    <th colspan=2><a href="/">Back</a></th>
                }
                else
                {
                    <th colspan=2><a href="/?handler=Dir&directory=@Model.previousPath">Back</a></th>
                }
            </tr>
            <tr>
                <th>File</th>
                <th>Size in KB</th>
            </tr>
        </thead>
        <tbody align="left">
            @foreach (var item in Model.RootDirs.Distinct())
            {
                <tr>
                    <td><a href="/?handler=Dir&directory=@item"><img src="icons/folder-icon.png" height=18 width=18>
                            @item.Split("/").Last()</a></td>
                </tr>
            }
            @foreach (var item in Model.data.Where(x => x.dir == Model.currentDirectory))
            {
                <tr>
                     @if(item.dir == "")
                    {
                        <td><a href="@Model.bloburl/@item.filename" download="@item.filename"><img src="icons/document-256.webp" height=18 width=18> @item.filename</a></td>
                    }
                    else
                    {
                        <td><a href="@Model.bloburl/@item.dir/@item.filename" download="@item.filename"><img src="icons/document-256.webp" height=18 width=18> @item.filename</a></td>
                    }
                    <td>@item.size</td>
                </tr>
            }
        </tbody>
    </table>
</div>
